<footer class="foter">
    <div class="row">   
        <div class="col-lg-3">
            <h3>GRUPO PREVENIR EXPRESS</h3>
            <p>Politica de privacidad</p>
            <p>Terminos y condiciones</p>
            <p>Contactenos</p>
        </div>


        <div class="col-lg-3">
            <h3>SIGUIENOS EN</h3>
            <p>Facebook</p>
            <p>Google +</p>
            <p>You tube</p>
        </div>


        <div class="col-lg-3">
            <p>Desarrollado por</p>
            
        </div>


        <div class="col-lg-3">
            <img src="/assets/logo_sin_fondo.png" alt="">
        </div>

    </div>
</footer>