<app-barra-navegacion> </app-barra-navegacion>
<div class="container-fluid">
<div class="row" *ngIf="infoMedico">
  <div class="col-lg-3 fichasPerfiles" id="info-perfil-medico">
    <img class="img-circle" src="{{infoMedico.avatar}}" style="border-radius: 138px;border: 17px solid white; background: white; " alt="">
    
    <div class="info-medico">

    <p><strong>Nombres :</strong> {{infoMedico.nombres}}</p>
    <p><strong>Apellidos :</strong> {{infoMedico.apellidos}}</p>
    <p><strong>Titulo :</strong> {{infoMedico.titulo}}</p>
    <p><strong>Tarjeta profesional :</strong> {{infoMedico.tarj_profecional}}</p>
    <p><strong>Identificación :</strong> {{infoMedico.cedula}}</p>
    <p><strong>No. Contacto :</strong> {{infoMedico.telefono}}</p>
    <p><strong>Whatsapp :</strong> {{infoMedico.whatsapp}}</p>

    </div>
  </div>
  <div class="col-lg-8" id="estudios-medico" style="padding: 30px">
 

    <div class="container-fluid">
        <br />
        <div class="card-header">
          <h1>Estudios realizados</h1>
        </div>
        <br />
      </div>

    <div *ngIf="!titulos" class="msj">
      <h5>El medico aun no ha registrado ningun estudio.</h5>
    </div>
    
    <div class="jumbotron jumbotron-fluid titulo" style="padding: 20px" *ngFor="let tm of infoMedico.titulos">
      <h3 class="card-title">{{tm.nombre}}</h3>
      <hr>
      <h6 class="card-text">Institución : {{tm.institucion}}</h6>
      <h6 class="card-text">Fecha de Inicio : {{tm.start | fecha}}</h6>
      <h6 class="card-text">Fecha de Finalización : {{tm.end | fecha}}</h6>
    </div>

    <div _ngcontent-c6="" class="row" style="height: 10vw"></div>
  </div>

</div>
</div>