#text-area-perfil textarea {
    width: 800px;
}

#btn-guardar{
    margin-bottom: 100px;
    text-align: right;
}

.active {
    /* background-color: gray; */
}

.h2-agregar-estudios {
    margin-bottom: 25px;
}

.modal-footer a{
    color: white;
}

.list-group li:hover {
  box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
  transition: all 0.2s ease;
}