<div>
  <app-barra-navegacion></app-barra-navegacion>
</div>

<div class="row contenedor">
  <div class="col-lg-3 crear-pub">
    <div>
      <ul class="list-group">
          <li class="list-group-item active" id="informacion">informacion</li>
          <li class="list-group-item" id="horarios">Horarios </li>
          <li class="list-group-item" id="imagenes">Imagenes </li>
      </ul>      
  </div>

    <!-- <button class="btn btn-primary btn-lg">Guardar</button> -->

  </div>

  <div class="col-lg-8 crear-pub">

      <div [ngSwitch]="mymodel">

          <div class="info-publicacion" *ngSwitchCase="'informacion'" >
            
              <div class="container-fluid">
                  <br />
                  <div class="card-header" >
                    <h1>Información del servicio</h1>
                  </div>
                  <br />
                </div>
            
         
            <form class="form-signin example-form" [formGroup]="datos" (ngSubmit)="siguienteInformacion()">

              <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-5">
                     <mat-form-field class="example-full-width">
                      <mat-select placeholder="Medico" (selectionChange)="medicoSelect($event)" [formControl]="selectMedico" required>
                        <mat-option *ngFor="let m of medicos" [value]="m.medico_id">
                          {{m.nombre}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="selectMedico.hasError('required')">
                        Este campo es requerido.
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-5"></div>
                  <div class="col-md-1"></div>
              </div>

        
              <div class="container-fluid">
                  <br />
                  <div class="card-header" style="padding-top:10px !important">
                    <h1>¿Donde vas a prestar tu servicio?</h1>
                  </div>
                  <br />
                </div>      

                <div class="row">
                    <div class="col-md-1 col-sm-0"></div>
                    <div class="col-md-5 col-sm-3">
                        <mat-form-field class="example-full-width">
                            <mat-select placeholder="Departamento" (selectionChange)="deparSelect($event)" [formControl]="selectDepartamento" required>
                              <mat-option *ngFor="let d of departamentos" [value]="d.id_departamento">
                                {{d.nombre}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="selectDepartamento.hasError('required')">
                              Este campo es requerido.
                            </mat-error>
                          </mat-form-field>
                    </div>
                    <div class="col-md-5 col-sm-3">
                        <mat-form-field class="example-full-width">
                            <mat-select placeholder="Municipio" (selectionChange)="muniSelect($event)" [formControl]="selectMunicipio" required>
                              <mat-option *ngFor="let m of municipios" [value]="m.id_municipio">
                                {{m.nombre}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="selectMunicipio.hasError('required')">
                              Este campo es requerido.
                            </mat-error>
                          </mat-form-field>
                    </div>
                    <div class="col-md-1 col-sm-0"></div>
                </div>
  
                
                  

<!-- ------------------------------------------- Autocompletar  --------------------------------------------------------- -->

  
<div class="container-fluid">
    <br />
    <div class="card-header" style="padding-top: 10px !important">
      <h1>Cuentanos más!</h1>
    </div>
    <br />
  </div>
  
  
  <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-12">
          <mat-form-field class="example-full-width">
              <input  type="text" placeholder="Categoria" aria-label="Categoria" matInput [formControl]="myControl" [matAutocomplete]="auto" required>
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option.nombre}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="myControl.hasError('required')">
                Este campo es requerido.
              </mat-error>
          
            </mat-form-field>
            <p id="p-categoria" *ngIf="ctgaIncorrecta">Por favor seleciona una categoria correcta *.</p>
      </div>
      
      <div class="col-md-1"></div>
  </div>



  <!-- ------------------------------------------- Fin de Autocompletar  --------------------------------------------------------- -->

  <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
          <mat-form-field class="example-full-width">
              <input type="text" matInput aria-label="Nombre del servicio" placeholder="Nombre del servicio" name="nombre" formControlName="nombre" minlength="3" required>
                <mat-error *ngIf="datos.get('nombre').hasError('required')">El nombre del servicio es obligatorio</mat-error>
                <mat-error *ngIf="datos.get('nombre').hasError('minlength')">Cantidad minima de caracteres (4)</mat-error>
                <mat-error *ngIf="datos.get('nombre').hasError('maxlength')">Cantidad minima de caracteres (60)</mat-error>
            </mat-form-field>
      </div>
      <div class="col-md-5">
          <mat-form-field class="example-full-width">
              <input type="number" matInput aria-label="Duración aproximada de la cita en minutos" placeholder="Duración aproximada de la cita en minutos" formControlName="duracion" min=15 max=60 required>   
                <mat-error *ngIf="datos.get('duracion').hasError('required')">El campo es requerido</mat-error>        
                <mat-error *ngIf="datos.get('duracion').hasError('min')">La duración de la cita no puede ser menor a 15 minutos.</mat-error>
                <mat-error *ngIf="datos.get('duracion').hasError('max')">La duración de la cita no puede ser mayor a 60 minutos.</mat-error>
                <mat-error *ngIf="datos.get('duracion').hasError('pattern')">Este campo no puede llevar puntos o caracteres especiales.</mat-error>
          
            </mat-form-field>
      </div>
      <div class="col-md-1"></div>
  </div>


  <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
          <mat-form-field class="example-full-width">
              <mat-select placeholder="Número maxito de citas / hora" [formControl]="numeroMaxCitas" required>
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="4">4</mat-option>
                <mat-option value="5">5</mat-option>
              </mat-select>
        
              <mat-error *ngIf="numeroMaxCitas.hasError('required')">
                Este campo es requerido.
              </mat-error>
            </mat-form-field>
          
      </div>
      <div class="col-md-5">
          <mat-form-field class="example-full-width">
              <input type="number" matInput aria-label="Precio a particulares" placeholder="Precio a particulares" formControlName="precio" min=0 required>
              <mat-error *ngIf="datos.get('precio').hasError('required')">* El campo es requerido</mat-error>
              <mat-error *ngIf="datos.get('precio').hasError('min')">Cantidad minima ($0)</mat-error>
              <mat-error *ngIf="datos.get('precio').hasError('pattern')">Este campo no puede llevar puntos o caracteres especiales.</mat-error>
            </mat-form-field>
      </div>
      <div class="col-md-1"></div>
  </div>


  <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
          <mat-form-field class="example-full-width">
              <input type="number" matInput aria-label="Descuento clientes prevenir, de 10 a 100 sin (%)" placeholder="Descuento clientes prevenir, de 10 a 100 sin (%)" formControlName="descuento" min=10  max=100 >
              <mat-error *ngIf="datos.get('descuento').hasError('min')">Cantidad minima 10</mat-error>
              <mat-error *ngIf="datos.get('descuento').hasError('max')">Cantidad maxima 100.</mat-error>
              <mat-error *ngIf="datos.get('descuento').hasError('pattern')">Este campo no puede llevar puntos o caracteres especiales.</mat-error>
            </mat-form-field>
          
      </div>
      <div class="col-md-5">
       
  <mat-form-field class="example-full-width">
      <input type="text" matInput aria-label="Dirección" placeholder="Dirección" formControlName="direccion" required>
      <mat-error *ngIf="datos.get('direccion').hasError('required')">Este campo es requerido.</mat-error>
      <mat-error *ngIf="datos.get('direccion').hasError('maxlength')">El campo no puede tener más de 60 caracteres.</mat-error>
    </mat-form-field>
      </div>
      <div class="col-md-1"></div>
  </div>
  
  <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
          <mat-form-field class="example-full-width">
              <input type="text" matInput aria-label="Link del video publicitario en YouTube" placeholder="Link del video publicitario en YouTube" formControlName="video">
            </mat-form-field>
          
          
      </div>
      <div class="col-md-5">
       
          <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Descripción del servicio"  formControlName="descripcion" minlength="40" required></textarea>
              <mat-error *ngIf="datos.get('descripcion').hasError('required')">La descripcion es requerida.</mat-error>
              <mat-error *ngIf="datos.get('descripcion').hasError('minlength')">La cantidad minima de caracteres es 40.</mat-error>
            </mat-form-field>
      </div>
      <div class="col-md-1"></div>
  </div>
   

 




     

     






<!-- ------------------------------------------- Fin de formulario  --------------------------------------------------------- -->


       <div class="btn-siguiente">
         <button type="submit" class="btn btn-primary" >Siguiente</button>
       </div>
                  

            </form>

          </div>

          <div *ngSwitchCase="'horarios'" >
             
            <div class="example-form">

              <h3 class="centrar">Horario de atención</h3>

              <p>*Selecciona un horario de atención o más, según la disponibilidad de tu servicio</p>

  <!-- -------------------------------- HORARIOS  --------------------------------------------------------- -->

    <!-- ------------------------------ HORARIO1  --------------------------------------------------------- -->
              <mat-card>
                  <mat-card-title> Horario 1</mat-card-title>
                  
                  <mat-card-content id="card-horario">

                    <div class="row div-dias">
                      <div class="col-lg-4 div-dias">
                          <p>Dias</p>
                          <mat-form-field>
                              <mat-select placeholder="Dias"  multiple (selectionChange)="diasHorario1($event)" [disabled]="disableH1">
                                <mat-option *ngFor="let d of ds" [value]="d.dia.nombre" [disabled]="!d.dia.disponible">
                                  {{d.dia.nombre}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                      </div>

                      <div class="col-lg-3 div-dias">
                          <mat-checkbox (change)="checktManana($event,'h1')" [disabled]="disableH1">Mañana</mat-checkbox>
                        <br>

                        <mat-form-field *ngIf="mananaH1">
                          <mat-select placeholder="Desde" [disabled]="disableH1" (selectionChange)="horasHorarios($event, 'mdesde_h1')">
                            <mat-option *ngFor="let d of horasDesdeHastaManana" [value]="d.value">
                              {{d.hora}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="mananaH1">
                          <mat-select placeholder="Hasta" [disabled]="disableH1" (selectionChange)="horasHorarios($event, 'mhasta_h1')">
                            <mat-option *ngFor="let d of horasDesdeHastaManana" [value]="d.value">
                              {{d.hora}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="col-lg-3 div-dias">
                          <mat-checkbox (change)="checktTarde($event,'h1')" [disabled]="disableH1">Tarde</mat-checkbox>
                          <br>
                          <mat-form-field *ngIf="tardeH1">
                            <mat-select placeholder="Desde" [disabled]="disableH1" (selectionChange)="horasHorarios($event, 'tdesde_h1')">
                              <mat-option *ngFor="let d of horasDesdeHastaTarde" [value]="d.value">
                                {{d.hora}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
  
                          <mat-form-field *ngIf="tardeH1">
                            <mat-select placeholder="Hasta" [disabled]="disableH1" (selectionChange)="horasHorarios($event, 'thasta_h1')">
                              <mat-option *ngFor="let d of horasDesdeHastaTarde" [value]="d.value">
                                {{d.hora}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                      </div>

                    </div>
                  </mat-card-content>
              </mat-card>

            </div>

                <!-- ------------------------------ HORARIO2  --------------------------------------------------------- -->

            <div class="example-form" *ngIf="horario2">

                <mat-card>
                    <mat-card-title> Horario 2</mat-card-title>
                    
                    <mat-card-content id="card-horario">
  
                      <div class="row div-dias">
                        <div class="col-lg-4 div-dias">
                            <p>Dias</p>
                            <mat-form-field>
                                <mat-select placeholder="Dias"  multiple (selectionChange)="diasHorario2($event)" [disabled]="disableH2">
                                  <mat-option *ngFor="let d of ds" [value]="d.dia.nombre" [disabled]="!d.dia.disponible">
                                    {{d.dia.nombre}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
  
                        <div class="col-lg-3 div-dias">
                            <mat-checkbox (change)="checktManana($event, 'h2')" [disabled]="disableH2">Mañana</mat-checkbox>
                          <br>
  
                          <mat-form-field *ngIf="mananaH2">
                            <mat-select placeholder="Desde" [disabled]="disableH2" (selectionChange)="horasHorarios($event, 'mdesde_h2')">
                              <mat-option *ngFor="let d of horasDesdeHastaManana" [value]="d.value">
                                {{d.hora}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
  
                          <mat-form-field *ngIf="mananaH2">
                            <mat-select placeholder="Hasta" [disabled]="disableH2" (selectionChange)="horasHorarios($event, 'mhasta_h2')">
                              <mat-option *ngFor="let d of horasDesdeHastaManana" [value]="d.value">
                                {{d.hora}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
  
                        <div class="col-lg-3 div-dias">
                            <mat-checkbox (change)="checktTarde($event, 'h2')" [disabled]="disableH2">Tarde</mat-checkbox>
                            <br>
                            <mat-form-field *ngIf="tardeH2">
                              <mat-select placeholder="Desde" [disabled]="disableH2" (selectionChange)="horasHorarios($event, 'tdesde_h2')">
                                <mat-option *ngFor="let d of horasDesdeHastaTarde" [value]="d.value">
                                  {{d.hora}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
    
                            <mat-form-field *ngIf="tardeH2">
                              <mat-select placeholder="Hasta" [disabled]="disableH2" (selectionChange)="horasHorarios($event, 'thasta_h2')">
                                <mat-option *ngFor="let d of horasDesdeHastaTarde" [value]="d.value">
                                  {{d.hora}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                        </div>
  
                        <div class="col-lg-1 div-dias">
                          <button class="btn btn-danger" *ngIf="btnEliminarHorario" class="btn btn-danger btns-horario" (click)="eliminarHorario()"><i class="fas fa-trash-alt"></i></button>
                        </div>
                      </div>
                    </mat-card-content>
                </mat-card>

            </div>

                <!-- ------------------------------ HORARIO3  --------------------------------------------------------- -->

            <div class="example-form" *ngIf="horario3">

                <mat-card>
                    <mat-card-title> Horario 3</mat-card-title>
                    
                    <mat-card-content id="card-horario">
  
                      <div class="row div-dias">
                        <div class="col-lg-4 div-dias">
                            <p>Dias</p>
                            <mat-form-field>
                                <mat-select placeholder="Dias"  multiple (selectionChange)="diasHorario3($event)">
                                  <mat-option *ngFor="let d of ds" [value]="d.dia.nombre" [disabled]="!d.dia.disponible">
                                    {{d.dia.nombre}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
  
                        <div class="col-lg-3 div-dias">
                            <mat-checkbox (change)="checktManana($event,'h3')">Mañana</mat-checkbox>
                          <br>
  
                          <mat-form-field *ngIf="mananaH3">
                            <mat-select placeholder="Desde" (selectionChange)="horasHorarios($event, 'mdesde_h3')">
                              <mat-option *ngFor="let d of horasDesdeHastaManana" [value]="d.value">
                                {{d.hora}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
  
                          <mat-form-field *ngIf="mananaH3">
                            <mat-select placeholder="Hasta" (selectionChange)="horasHorarios($event, 'mhasta_h3')">
                              <mat-option *ngFor="let d of horasDesdeHastaManana" [value]="d.value">
                                {{d.hora}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
  
                        <div class="col-lg-3 div-dias">
                            <mat-checkbox (change)="checktTarde($event, 'h3')">Tarde</mat-checkbox>
                            <br>
                            <mat-form-field *ngIf="tardeH3">
                              <mat-select placeholder="Desde" (selectionChange)="horasHorarios($event, 'tdesde_h3')">
                                <mat-option *ngFor="let d of horasDesdeHastaTarde" [value]="d.value">
                                  {{d.hora}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
    
                            <mat-form-field *ngIf="tardeH3">
                              <mat-select placeholder="Hasta" (selectionChange)="horasHorarios($event, 'thasta_h3')">
                                <mat-option *ngFor="let d of horasDesdeHastaTarde" [value]="d.value">
                                  {{d.hora}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-1 div-dias">
                          <button class="btn btn-danger" *ngIf="btnEliminarHorario" class="btn btn-danger btns-horario" (click)="eliminarHorario()"><i class="fas fa-trash-alt"></i></button>
                        </div>
  
                      </div>
                    </mat-card-content>
                </mat-card>

            </div>

            <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="status">
                {{textoStatus}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="cerrarAlerta('horarios')">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="div-btns">
              <button class="btn btn-secondary btns-horario" (click)="atrasInformacion()">Atras</button>
              <button class="btn btn-info btns-horario" (click)="mostrarHorario('false')" [disabled]="!btnHorario">Agregar horario</button>

              
              <button class="btn btn-success" (click)="siguienteHorarios('true')" >Siguiente</button>
            </div>
            
                
          </div>

          <div *ngSwitchCase="'imagenes'" >

            <h3 class="centrar">Selecciona imagenes para tu servicio</h3>
            <!-- <p>*Selecciona una o más imagenes para tu servicio, maximo 6 </p> -->

            <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="statusImgs" (click)="cerrarAlerta('imagenes')">
              {{textoStatus}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>

            <!-- <div class="contenedor-scroll">
              <div class="scroll">
                 
              </div>
              </div> -->


              <div class="card">
                <div class="card-header">
                    <h5>Imagenes del servicio</h5> 
                    <p>* Recuerda que el servicio puede tener un maximo de 6 imagenes.</p>
                </div>

                <div class="row rw">
                  <div class="col-lg-2 contenedores" *ngFor="let item of imagenes; let i = index">
                      <img [src]="item.base64Image" class="imagenes">
                      <button class="btn btn-danger" (click)="borrarFoto(i)"><i class="fas fa-trash-alt"></i></button>
                  </div>
              
                </div>
              </div>


              <!-- <div id="card-publicacion">
                  <div class="card"> 
                      <div class="card-header">
                         <h5>Imagenes del servicio</h5> 
                         <p>* Recuerda que el servicio puede tener un maximo de 6 imagenes.</p>
                        </div>

               

                </div>

              </div> -->


              <!-- <div id="LoadedImages" *ngIf="imagenes">
                <div *ngFor="let item of imagenes; let i = index">
                <img [src]="item.base64Image" class="imagenes">
                <button class="btn btn-danger" (click)="borrarFoto(i)"><i class="fas fa-trash-alt"></i></button>
                </div>
              </div> -->
 
              <!-- <div id="LoadedImages" *ngIf="imagenes">
                <div *ngFor="let item of imagenes; let i = index">
                <img [src]="item.base64Image" class="imagenes">
                <button class="btn btn-danger" (click)="borrarFoto(i)"><i class="fas fa-trash-alt"></i></button>
                </div>
              </div> -->

              <div id="cargar-imagen">
                <mat-checkbox *ngIf="imagenes.length >= 1"  (change)="terminosCondiciones($event)"><a  [routerLink]="['/terminosycondiciones']" target="_blank">Acepto terminos y condiciones !</a></mat-checkbox>
              </div>
              

            <div id="cargar-imagen">
              <button class="btn btn-secondary" (click)="atrasImagenes()">Atras</button>
              <label for="file-upload" class="btn btn-info btns-horario">
                  Cargar Fotos
              </label>
              <input id="file-upload" type="file" (change)="openGalery($event)"/>
              <button class="btn btn-success" (click)="publicarServicio()" *ngIf="imagenes.length >= 1">Publicar Servicio</button>
          </div>

          </div>
      </div>
    </div>

</div>


<!-- Button modal publicacion exitosa -->
<button type="button" id="btn-publicacion-exitosa" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-backdrop="false">
  Launch demo modal
</button>

<!-- Modal publicacion exitosa -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mensaje</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="pubExitosa()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        La publicación ha sido creada correctamente.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="pubExitosa()">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div class="loading" *ngIf="loading">
    <img src="/assets/pulso.gif" alt="">
</div>

<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading> -->