/* #openModalButton {
    display: none;
} */

#buscar-formulario-medico{
    margin-bottom: 30px;
  }

.form-sacar-cita {
    margin-top: 30px;
}

.modal-label {
    color: #686f6f;
}

.div-validator{
    margin-top: 10px;
}

.ml-auto .div-buscador{
    padding: 0% !important;
}

.div-info-cita{
    margin-top: 50px;
    margin-left: 60px;
}

#btn-modal-evento {
    display: none;
}

#btn-elimina-cita {
    display: none
}

/* //////////////////////// MODAL VER CITA ///////////////////// */

.img {
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: 40px;
 }
  #userImg{

   /* border:1px solid black; */
  
   /* cambia estos dos valores para definir el tamaño de tu círculo */
   height: 200px;
   width: 200px;
   /* los siguientes valores son independientes del tamaño del círculo */
   background-repeat: no-repeat;
   background-position: 50%;
   border-radius: 50%;
   background-size: 100% auto;
   border: 1px solid #7e868e;
  }

  .modal-label{
    margin: 0px;
    color: grey;
    font-size: 13px;
  }