<app-barra-navegacion></app-barra-navegacion>
<div class="container-fluid">
  <!-- <div id="btn-agregar-pub" class="text-center"> -->
      <br />
      <div class="card-header">
        <h1>Mis Médicos</h1>
      </div>
      <br />
   
  <!-- </div> -->
</div>

<div id="btn-agregar-pub" class="text-center">

    <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-lg"><i
      class="fas fa-plus"></i>&nbsp; Crear Medico</button>
</div>

<div id="card-publicacion" *ngIf="vacio">
  <h5>Aun no tienes medicos, crea uno ! </h5>
</div>
 
<div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="status === 'success'">
     {{statusText}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="cerrarAlerta()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="status === 'error'">
    {{statusText}}
<button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="cerrarAlerta()">
 <span aria-hidden="true">&times;</span>
</button>
</div>

<!-- MODAL CREAR MEDICO -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Crear Medico</h3>
            <button type="button" id="cerrarModal" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

      <div class="modal-body">
        <!-- <app-modal-crear-medico></app-modal-crear-medico> -->

            <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="status === 'warning'">
              {{statusText}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="cerrarAlerta()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          
          <div id="buscar-formulario-medico">
            <div class="col-md-1"></div>
              <div class="col-md-10">
                  <div class="input-group" id="buscarC">
                      <form class="form-signin" #cedulaForm="ngForm" (ngSubmit)="buscarMedico()" style="margin: auto; display: block">
                      <div class="input-group-prepend"> 
                       <!-- <span class="input-group-text">Cedula</span> -->
                       <input type="text" aria-label="cedula" placeholder="Cédula" class="form-control" [formControl]="cedula" [class.is-invalid]="cedula.hasError('pattern')">
                       <button class="btn btn-info" [disabled]="!cedula.valid">Buscar</button> 
                     </div>      
                     </form> 
                   </div>
              </div>
              <div class="col-md-1"></div>
          </div>
          
          <div class="alert alert-primary" role="alert" *ngIf="existe === false">
                  El medico no existe ¿Desea crearlo?
          </div>
          
          
          <!-- <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="status === 'error_modal'">
              {{statusText}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div> -->
          
               
          
       
        </div>

        <div class="modal-footer">

        </div>

        <!-- <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="status === 'error_modal'">
          {{statusText}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> -->

        <!-- FORMULARIO CUANDO NO EXISTE MEDICO -->


        <div id="formulario-crear-medico" *ngIf="!existe && formulario" style="padding:30px">

          <div class="col-lg-12" >
            <h3 class="text-center">Por favor ingresa los datos</h3>
            <br/>
            <form class="form-signin" #agregarForm="ngForm" (ngSubmit)="agregarMedico(false)">
              <div class="form-group">
                <!-- <label for="exampleInputEmail1">Nombre medico</label> -->
                <input type="text" name="nombres" #nombres="ngModel" [(ngModel)]="medico.nombres" class="form-control"
                  aria-describedby="emailHelp" placeholder="Nombres del medico" [readonly]="existe">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
              </div>

              <div class="form-group">
                <!-- <label for="exampleInputEmail1">Nombre medico</label> -->
                <input type="text" name="apellidos" #apellidos="ngModel" [(ngModel)]="medico.apellidos"
                  class="form-control" aria-describedby="emailHelp" placeholder="Apellidos del medico"
                  [readonly]="existe">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
              </div>

              <div class="form-group">
                <!-- <label for="exampleInputEmail1">Nombre medico</label> -->
                <input type="email" name="email" #email="ngModel" [(ngModel)]="medico.email" class="form-control"
                  aria-describedby="emailHelp" placeholder="correo_medico@ejemplo.com" [readonly]="existe">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
              </div>

              <div class="form-group">
                <!-- <label for="exampleInputEmail1">Nombre medico</label> -->
                <input type="password" name="pssw" #pssw="ngModel" [(ngModel)]="medico.pssw" class="form-control"
                  aria-describedby="emailHelp" placeholder="Contraseña" [readonly]="existe">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
              </div>

              <div class="form-group">
                <!-- <label for="exampleInputEmail1">Nombre medico</label> -->
                <input type="password" name="confirmPssw" #confirmPssw="ngModel" [(ngModel)]="medico.confirmPssw"
                  class="form-control" aria-describedby="emailHelp" placeholder="Contraseña" [readonly]="existe">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
              </div>

              <div class="form-group">
                <!-- <label for="exampleInputEmail1">Nombre medico</label> -->
                <input *ngIf="!existe" type="number" name="tarj_profecional" #tarj_profecional="ngModel"
                  [(ngModel)]="medico.tarj_profecional" class="form-control" aria-describedby="emailHelp"
                  placeholder="Tarjeta profecional" [readonly]="existe">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
              </div>

              <div class="form-group">
                <!-- <label for="exampleInputEmail1">Nombre medico</label> -->
                <input type="text" name="titulo" #titulo="ngModel" [(ngModel)]="medico.titulo" class="form-control"
                  aria-describedby="emailHelp" placeholder="Especialidad medica" [readonly]="existe">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
              </div>

              
                <button type="submit" class="btn btn-primary">Agregar</button>
             

            </form>
          </div>

        </div>



      </div>
    </div>
  </div>


<!-- ---------------------------------------------------------- -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <div id="card-publicacion">
        <div class="jumbotron jumbotron-fluid" style="padding: 20px" *ngFor="let m of medicos">
          <div class="row">

            <div class="col-lg-5 img-medico"><img style="margin: auto; display: block;" src="{{m.avatar}}" alt=""></div>
            <div class="col-lg-7">
              <h3>{{m.nombre}}</h3>
              <br>
              <p><strong>Tarjeta profecional :</strong> {{m.tarj_profecional}}</p>
              <p><strong>Titulo : </strong> {{m.titulo}}</p>
              <p><strong>No. Contacto : </strong> {{m.telefono}}</p>
              <p><strong>Whatsapp : </strong> {{m.whatsapp}}</p>
           
            <div class="row">
              <div class="col-md-5">
                <p class="p-btns">
                  <a class="btn btn-info w-100" (click)="verMedico(m.medico_id)"><i class="far fa-eye"></i> Ver
                  </a>
                </p>
              </div>
              <div class="col-md-6">
                <p class="p-btns">
                  <a href="#myModal{{m.medico_id}}" role="button" class="btn btn-danger w-100" data-toggle="modal"><i
                      class="fas fa-trash-alt"></i> Eliminar</a>
                </p>
              </div>
            </div>
              <div class="col-lg-12" id="btns-medico">
                <!-- Modal -->
                <div class="modal fade" id="myModal{{m.medico_id}}" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog " role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Confirmación</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        ¿ Estas seguro que deseas eliminar al medico {{m.nombre}}?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                          (click)="deleteMedico(m.medico_id)">Eliminar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="col-md-5"> <img class="img-pub" style="margin:auto; display: block;"
      src="/assets/GifLíneasFunenrarias.gif" alt=""> 
    </div>

</div>



<div class="loading" *ngIf="loading">
  <img src="/assets/pulso.gif" alt="">
</div>

<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading> -->