
<div class="container">
    <div class="input-group" id="buscarC">
         <div class="input-group-prepend">
          <span class="input-group-text">Cedula</span>
          <input type="text" aria-label="cedula" class="form-control">
          <p class="p-btns">
            <a href="" class="abtn btn-info btn-lg" role="button" data-toggle="modal" data-target="#exampleModalLong" >Buscar</a>
        </p>
        <p class="p-btns">
          <a href="" class="abtn btn-info btn-lg" role="button" data-toggle="modal" data-target="#exampleModalLong" >Agregar</a>
        </p>
        </div>       
      </div>
        <div class="tab-content scroll" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="card lista">
                  <div class="container">
                      <div class="row">
                        <div class="col">
                            <div class="avatar">
                              Avatar
                            </div>
                        </div>
                        <div class="col">
                         Nombre
                        </div>
                        <div class="col">
                           Consultorio
                        </div>
                      </div>
                    </div> 
              </div>
            <div class="card lista curso">
                <div class="container">
                    <div class="row">
                      <div class="col">
                          <div class="avatar">
                              <img alt="" src="http://lorempixel.com/100/100/people/9/">
                          </div>
                      </div>
                      <div class="col">
                        Andrea Mejia

                      </div>
                      <div class="col">
                        <a class="consul">203</a>
                        <div>
                            <input type="submit" value="ver" class="btn btn-secondary ver" id="btnagregar" readonly/>
                          </div>
                      </div>
                    </div>
                  </div>
              </div>
            <div class="card lista">
                <div class="container">
                    <div class="row">
                      <div class="col">
                          <div class="avatar">
                              <img alt="" src="http://lorempixel.com/100/100/people/9/">
                          </div>
                      </div>
                      <div class="col">
                        Luisa lopez
                      </div>
                      <div class="col">
                        Espera
                      </div>
                    </div>
                  </div> 
            </div>
            <div class="card lista">
                <div class="container">
                    <div class="row">
                      <div class="col">
                          <div class="avatar">
                              <img alt="" src="http://lorempixel.com/100/100/people/9/">
                          </div>
                      </div>
                      <div class="col">
                        Lorena casa
                      </div>
                      <div class="col">
                        Espera
                      </div>
                    </div>
                  </div> 
            </div>
            <div class="card lista">
                <div class="container">
                    <div class="row">
                      <div class="col">
                          <div class="avatar">
                              <img alt="" src="http://lorempixel.com/100/100/people/9/">
                          </div>
                      </div>
                      <div class="col">
                      camila perez
                      </div>
                      <div class="col">
                        Espera
                      </div>
                    </div>
                  </div> 
            </div>
            <div class="card lista">
                <div class="container">
                    <div class="row">
                      <div class="col">
                          <div class="avatar">
                              <img alt="" src="http://lorempixel.com/100/100/people/9/">
                          </div>
                      </div>
                      <div class="col">
                      camila perez
                      </div>
                      <div class="col">
                        Espera
                      </div>
                    </div>
                  </div> 
            </div>
            <div class="card lista">
                <div class="container">
                    <div class="row">
                      <div class="col">
                          <div class="avatar">
                              <img alt="" src="http://lorempixel.com/100/100/people/9/">
                          </div>
                      </div>
                      <div class="col">
                      camila perez
                      </div>
                      <div class="col">
                        Espera
                      </div>
                    </div>
                  </div> 
            </div>
            <div class="card lista">
                <div class="container">
                    <div class="row">
                      <div class="col">
                          <div class="avatar">
                              <img alt="" src="http://lorempixel.com/100/100/people/9/">
                          </div>
                      </div>
                      <div class="col">
                      camila perez
                      </div>
                      <div class="col">
                        Espera
                      </div>
                    </div>
                  </div> 
            </div>
          </div>
         
        </div>
</div>


              <!-- Modal -->
              <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Citas Por Paciente</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
              
                     <app-modal-ver-cita></app-modal-ver-cita>
                    </div>
                  </div>
                </div>
              </div>
