
<div class="container">
    <div class="input-group" id="buscarC">
      <form (ngSubmit)="buscarCedula()">
         <div class="form-group input-group-prepend">
          <span class="input-group-text">Cedula</span>
          <input type="text" aria-label="cedula" class="form-control" [formControl]="cedula" [class.is-invalid]="cedula.hasError('pattern')">
          <!-- <a href="" class="abtn btn-info btn-lg" role="button" data-toggle="modal" data-target="#exampleModalLong" >Buscar</a> -->
          <button class="btn btn-info" [disabled]="!cedula.valid">Buscar</button> 
        </div> 
       </form>      
      </div>


      <div class="contenedor">
        <div class="tab-content scroll" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="card lista">
                  <div class="container">
                      <div class="row">
                        <div class="col">
                            <div class="avatar">
                              Avatar
                            </div>
                        </div>
                        <div class="col">
                         Nombre
                        </div>
                        <div class="col">
                          Estado 
                        </div>
                      </div>
                    </div> 
              </div>
           
            <div class="card lista" *ngFor="let ca of citasAgregadas">
                <div class="container">
                    <div class="row">
                      <div class="col">
                          <div class="avatar">
                              <img alt="" src="{{ca.cita.avatar}}">
                          </div>
                      </div>
                      <div class="col">
                        {{ca.cita.paciente}}
                      </div>
                      <div class="col">
                        En espera
                      </div>
                    </div>
                  </div> 
            </div>


            <!-- <div class="card lista">
                <div class="container">
                    <div class="row">
                      <div class="col">
                          <div class="avatar">
                              <img alt="" src="http://lorempixel.com/100/100/people/9/">
                          </div>
                      </div>
                      <div class="col">
                        Lorena casa
                      </div>
                      <div class="col">
                        Espera
                      </div>
                    </div>
                  </div> 
            </div>
            <div class="card lista">
                <div class="container">
                    <div class="row">
                      <div class="col">
                          <div class="avatar">
                              <img alt="" src="http://lorempixel.com/100/100/people/9/">
                          </div>
                      </div>
                      <div class="col">
                      camila perez
                      </div>
                      <div class="col">
                        Espera
                      </div>
                    </div>
                  </div> 
            </div>
            <div class="card lista">
                <div class="container">
                    <div class="row">
                      <div class="col">
                          <div class="avatar">
                              <img alt="" src="http://lorempixel.com/100/100/people/9/">
                          </div>
                      </div>
                      <div class="col">
                      camila perez
                      </div>
                      <div class="col">
                        Espera
                      </div>
                    </div>
                  </div> 
            </div>
            <div class="card lista">
                <div class="container">
                    <div class="row">
                      <div class="col">
                          <div class="avatar">
                              <img alt="" src="http://lorempixel.com/100/100/people/9/">
                          </div>
                      </div>
                      <div class="col">
                      camila perez
                      </div>
                      <div class="col">
                        Espera
                      </div>
                    </div>
                  </div> 
            </div>
            <div class="card lista">
                <div class="container">
                    <div class="row">
                      <div class="col">
                          <div class="avatar">
                              <img alt="" src="http://lorempixel.com/100/100/people/9/">
                          </div>
                      </div>
                      <div class="col">
                      camila perez
                      </div>
                      <div class="col">
                        Espera
                      </div>
                    </div>
                  </div> 
            </div> -->


          </div>
         
        </div>
      </div>

</div>

<button type="button"  id="btn-modal-cita" class="btn btn-primary" data-toggle="modal" data-target="#modalCita">
    Launch demo modal
  </button>
              <!-- Modal -->   
              <div class="modal fade" id="modalCita" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Citas Por Paciente</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
              
                     

                      <!-- CONTENIDO MODAL VER CITA -->

                      <!-- <app-modal-ver-cita></app-modal-ver-cita> -->
                      
                      <div *ngIf="!confirmacionEli">
                        <div class="margen" *ngFor="let c of infoCitas">
                          <div class="card">

                              <div class="row">
                                  <div class="col">
                                      <div class="avatarModal">
                                          <img alt="" src="{{c.avatar}}">
                                      </div>
                                  </div>
                                  <div class="col">
                                    <div><h6 style="margin-bottom: 0px">Nombre:</h6></div>
                                    <div class="consul"> <a>{{c.paciente}}</a></div>
                                   <div><h6 style="margin-bottom: 0px">Fecha de la cita:</h6></div> 
                                    <div class="consul"><a>{{c.start | fecha}}</a></div>
                                  
                                  </div>
                                  <div class="col">
                                      <div><h6 style="margin-bottom: 0px">Consulta:</h6></div>
                                    <div class="consul"><a >{{c.servicio}}</a></div>
                                    <div><h6 style="margin-bottom: 0px">Hora:</h6></div>
                                    <div class="consul"><a>{{c.start | hora}}</a></div>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col">
                                      <p class="p-btns">
                                        <button class="btn btn-primary" role="button" *ngIf="(c.hoy === c.cita) && (c.mes === c.mescita)" data-dismiss="modal" (click)="agregarCita(c)">Agregar Cita</button>
                                      </p>
                                    </div>
                                    <div class="col">
                                      <p class="p-btns">
                                        <button class="btn btn-danger" role="button" (click)="confirmacionEliminarCita(c)">Eliminar cita</button>
                                      </p>
                                    </div>
                                </div>
    
                          </div>
                    </div>
                  </div>

                      <!-- CONFIRMACION ELIMINAR CITA -->

                      <div *ngIf="confirmacionEli">
                          ¿ Estas seguro que deseas eliminar esta cita ?
                      </div>

                      
                      <!-- FIN CONTENIDO MODAL VER CITA -->

                    </div>

                    <div class="modal-footer" *ngIf="confirmacionEli">
                        <button type="button" class="btn btn-secondary" (click)="cancelarDltCita()">Cancelar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="eliminarCita(false)">Eliminar</button>
                    </div>


                  


                  </div>
                </div>
              </div>
