#buscarC
{
    margin: 10px 0;
   
   
}

#btnagregar
{
    border: white 10px;
    
}
.curso
{
    background-color:#007bff ;
    padding: 10px 0 10px 0;
    color: aliceblue;
}

.card .name
{
    float:left;
    margin-left:5px;
    width: 150px;
}

.card .avatar {

    width: 70px;
    position: relative;
    margin-left: 10px;
    float:left;
}

.card .avatar img {
    width: 70px;
    height: 70px;
    max-width: 70px;
    max-height: 70px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card .avatar img:hover {
    border: 5px solid rgba(231, 17, 17, 0.5);
    cursor:pointer;
}

.avatarModal img {
   height: 100px;
   width: 100px;
   /* los siguientes valores son independientes del tamaño del círculo */
   background-repeat: no-repeat;
   background-position: 50%;
   border-radius: 50%;
   background-size: 100% auto;
   /* border: 1px solid #7e868e; */
   margin-top: 20px;
}

.margen{
    margin-top: 20px;
}

.card .lista
{
    margin-top: 10px;
}

.col .ver
{
    width: 65%;
}

.col
{
    text-align: center;
}

.scroll {
    max-height: 350px;
    overflow-y: auto;
}

.contenedor{
    height: 360px !important;
    border: 1px solid #ced4da;
}

.container
{
    max-height: 100%;
   
}

#btn-modal-cita {
    display: none;
}

/* MODAL VER CITA COMPONENT */

/* box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
  transition: all 0.2s ease; */
.card-paciente{
    /* box-shadow: 0 4px 16px rgba(221, 224, 50, 0.931);
    transition: all 0.4s ease; */
    background-color: rgb(190, 234, 250);
    color: black;
    
}

.card-mascota {
    background-color: rgba(173, 170, 6, 0.479);
    color: black;
}


/* CITAS MASCOTA */
.citas-mascota {
    margin-top: 30px;
}


/* MODAL VER CITA */
/* //////////////////////// MODAL VER CITA ///////////////////// */

.img {
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: 40px;
 }
  #userImg{

   /* border:1px solid black; */
  
   /* cambia estos dos valores para definir el tamaño de tu círculo */
   height: 200px;
   width: 200px;
   /* los siguientes valores son independientes del tamaño del círculo */
   background-repeat: no-repeat;
   background-position: 50%;
   border-radius: 50%;
   background-size: 100% auto;
   border: 1px solid #7e868e;
  }

  #btn-modal-info-paciente {
      display: none;
  }

  .info-user {
      text-align: left;
  }

  /* boton para activar modal confirmar siguiente cita */
  #btn-confirmar-cita{
      display: none;
  }