             <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="card lista curso">
              <div class="container">
                  <div class="row">
                    <div class="col">
                        <div class="avatar">
                            <img alt="" src="http://lorempixel.com/100/100/people/9/">
                        </div>
                    </div>
                    <div class="col">
                      <div><h6 style="margin-bottom: 0px">Nombre:</h6></div>
                      <div class="consul"> <a>paciente numero</a></div>
                     <div><h6 style="margin-bottom: 0px">Fecha:</h6></div> 
                      <div class="consul"><a>26/02/2019</a></div>
                    
                    </div>
                    <div class="col">
                        <div><h6 style="margin-bottom: 0px">Consulta:</h6></div>
                      <div class="consul"><a >Optometria</a></div>
                      <div><h6 style="margin-bottom: 0px">Hora:</h6></div>
                      <div class="consul"><a>11:40 AM</a></div>
                    </div>
                  </div>
                  <br/>
                  <div class="row">
                      <div class="col"></div>
                      <div class="col">
                        <p class="p-btns">
                          <a href="" class="btn btn-primary" role="button">Agregar Cita</a>
                        </p>
                      </div>
                      <div class="col">
                        <p class="p-btns">
                          <a href="" class="btn btn-danger" role="button">Eliminar cita</a>
                        </p>
                      </div>
                  </div>
                </div>
            </div>
        </div>
