/* You can add global styles to this file, and also import other style files */

/* Estilos angular material */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Estilos calendario  */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

/* @import 'flatpickr/dist/flatpickr.css'; */

/* Estilos app  */
#login body {
  height: 100%;
  font-family: 'Raleway', sans-serif !important;
}

#login body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

#login .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin-top: 90px !important; 
  margin: auto;
  text-align: center;
  /* margin-top: 150px;
  margin-left: 450px;
  margin-right: 400px; */
}
#login .form-signin .checkbox {
  font-weight: 400;
}
#login .form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
#login .form-signin .form-control:focus {
  z-index: 2;
}
#login .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#login .form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#login .form-signin p {
    text-align: center;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: black;
  background-color: #DCDCDC;
  border-color: #DCDCDC;
}

/* Registro */

#registro body {
  height: 100%;
}

#registro body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

#registro .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin-top: 20px !important; 
  margin: auto;
  text-align: center;
  /* margin-top: 150px;
  margin-left: 450px;
  margin-right: 400px; */
}
#registro .form-signin .checkbox {
  font-weight: 400;
}
#registro .form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
#registro .form-signin .form-control:focus {
  z-index: 2;
}
#registro .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#registro .form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#registro .form-signin p {
    text-align: center;
}

#registro .form-signin img {
  margin-bottom: 25px;
}

/* ACTIVE */

.active-agregar-pub{
  background: #6fbad6;
}

.active-navegacion{
  background: #119ace;
}


/* HOME */

#navbar nav {
  background: #00AEEF !important;
}

#navbar .navbar-brand, .navbar-light .navbar-nav .nav-link {
  color: #f5f5f5 !important;
}



/* SLIDER */

#sliders {
  padding-top: 50px;
  padding-left: 10px;
  margin: 0px;
}

#carouselExampleIndicators .carousel-inner .carousel-item img {
  width: 100% !important;
  height: 100% !important;
}

/* PANEL SERVICIOS */

#servicios-home{
  padding-top: 50px;
  padding-left: 30px;
  margin: 0px;
}

/* GESTION PUBLICACIONES */

#card-publicacion {
  margin-top: 50px;
  margin-left: 50px;

}

#card-publicacion .card {
  width: 1000px;  
  margin-top: 40px;
}

#card-publicacion .card a {
  text-decoration: none;
}

#btn-agregar-pub{
  margin-top: 20px;
  margin-left: 50px;
}

.abtn{
  margin: 2px;
}

.p-btns button {
  margin: 2px;
}

.img-pub img{
  /* height: 250px; */
  /* width: 250px; */
  width: 100%;
}


/* AGREGAR PUBLICACION */

#panel-agregar-pub {
  margin-top: 50px;
}

#panel-agregar-pub .list-group .list-group-item a {
  color: black;
}

/* CENTRAR TEXTOS */

.centrar {
  text-align: center;
}

/* BOTONES MEDICO */



/* VER PERFIL MEDICO */

#info-perfil-medico{
  margin-top: 30px;
  margin-left: 30px;
}

#card-publicacion .card a {
  color: white;
}

#info-perfil-medico img {
  height: 250px;
  width: 250px;
  margin-bottom: 25px;
}

#estudios-medico{
  margin-top: 30px;
}

/* CREAR MEDICO MODAL */

#buscar-formulario-medico{
  margin-bottom: 30px;
}

/* AVATAR BARRA DE NAVEGACION */

#sesion img{
  width: 35px;
  height: 35px;
  border-radius: 100px;
  overflow: hidden;
  margin-top: 9px;
  margin-right: 2px;

}

#sesion img{

  margin: 0px;
  height: 38px;
  width: 38px;

}


/* CALENDARIO */

.calendario{
  margin-top: 30px;
  margin-left: 50px;
}

/* PERFIL PROVEDOR */

#perfil-provedor-imagen{
  margin-top: 30px;
  margin-left: 30px;
}

.perfil-provedor-medico{
  margin-top: 30px;
  margin-left: 30px;
}

#perfil-provedor-imagen img {
  height: 250px;
  width: 250px;
  margin-bottom: 20px;
}

#perfil-provedor-formulario{
  margin-top: 30px;
}

#perfil-provedor-formulario form {
  margin-top: 50px;
}

/* GESTIONAR MEDICOS */

.img-medico img {
  height: 250px;
  width: 250px;
}


/* Quitar margenes a los row */

.contenedor{
  margin: 0px;
}


/* BOTONES OCULTOS PARA ABRIR MODALES EN GESTIONAR PUBLICACION Y CALENDARIO */

#openModalButton {
  display: none;
}

/* ESTILOS DEL LOADING */
.loading {

  /* background: white; */
  width: 100%; 
  min-height: 100%;
  position: absolute;
  top: 0px; 
  opacity: 0.5;
  margin: 0%;
}

.loading img {
  width: 350px;
  height: 200px;
  display: block;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}

/* MOSTRAR EN ROJO LA ALERTA DE ERROR PARA ETIQUETAS P */
.alerta-error {
  color: red;
}

.btn-info, .btn-primary{
  background-color: #00aeef !important;
  border-color: #00aeef !important;
  color: white !important;
}

.cal-day-view .cal-event {

  color:#ffffff !important;
  font-size: 15px !important;
  font-weight: bold !important;
  border: none !important;
  background-color: #00aeef !important;
}

.card-header{
  text-align: center;
  color: #00aeef;
}

.input-group-text
{
  background-color: #00aeef !important;
  border: 1px solid #00aeef !important;
  color:#ffffff !important;
  width:280px !important;
}
